<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>businessLogo</key>
		<string>N-logo 100</string>
		<key>gameSummaryLogo</key>
		<string>napoli full</string>
		<key>promotionId</key>
		<real>123456</real>
		<key>totalPoints</key>
		<integer>0</integer>
		<key>currentRank</key>
		<integer>2</integer>
		<key>totalUsers</key>
		<integer>10</integer>
		<key>expiryEpoch</key>
		<integer>1480626758</integer>
		<key>promotionDescription</key>
		<string>Napoli</string>
		<key>pointsEarned</key>
		<integer>0</integer>
		<key>promotionNotes</key>
		<string>Napoli1</string>
		<key>totalPromotionsAvailable</key>
		<integer>200</integer>
		<key>businessName</key>
		<string>Napoli</string>
		<key>twitter</key>
		<string>https://twitter.com/Starbucks?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor</string>
		<key>facebook</key>
		<string>https://en-gb.facebook.com/Starbucks/</string>
		<key>website</key>
		<string>http://www.starbucks.co.uk</string>
		<key>negativeLimitReached</key>
		<false/>
		<key>totalPointsEarnedPerRound</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>businessLogo</key>
		<string>R-logo 100</string>
		<key>gameSummaryLogo</key>
		<string>roma full</string>
		<key>promotionId</key>
		<real>654321</real>
		<key>totalPoints</key>
		<integer>0</integer>
		<key>currentRank</key>
		<integer>1</integer>
		<key>totalUsers</key>
		<integer>42</integer>
		<key>expiryEpoch</key>
		<integer>1482268358</integer>
		<key>promotionDescription</key>
		<string>Roma</string>
		<key>pointsEarned</key>
		<integer>0</integer>
		<key>promotionNotes</key>
		<string>Roma2</string>
		<key>totalPromotionsAvailable</key>
		<integer>500</integer>
		<key>businessName</key>
		<string>Roma2</string>
		<key>twitter</key>
		<string>https://twitter.com/kfc_uki?lang=en</string>
		<key>facebook</key>
		<string>https://www.facebook.com/Dominoes/</string>
		<key>website</key>
		<string>https://www.domeinoes.co.uk</string>
		<key>negativeLimitReached</key>
		<false/>
		<key>totalPointsEarnedPerRound</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>businessLogo</key>
		<string>J-logo</string>
		<key>gameSummaryLogo</key>
		<string>jv-bg</string>
		<key>promotionId</key>
		<real>985789</real>
		<key>totalPoints</key>
		<integer>0</integer>
		<key>currentRank</key>
		<integer>5</integer>
		<key>totalUsers</key>
		<integer>93</integer>
		<key>expiryEpoch</key>
		<integer>1479676358</integer>
		<key>promotionDescription</key>
		<string>Juventus</string>
		<key>pointsEarned</key>
		<integer>0</integer>
		<key>promotionNotes</key>
		<string>Juventus</string>
		<key>totalPromotionsAvailable</key>
		<integer>70</integer>
		<key>businessName</key>
		<string>Juventus</string>
		<key>twitter</key>
		<string>twitter Juventus</string>
		<key>facebook</key>
		<string>facebook Juventus</string>
		<key>website</key>
		<string>Juventus world</string>
		<key>negativeLimitReached</key>
		<false/>
		<key>totalPointsEarnedPerRound</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>businessLogo</key>
		<string>T-Logo</string>
		<key>gameSummaryLogo</key>
		<string>torino-bg</string>
		<key>promotionId</key>
		<integer>398534</integer>
		<key>totalPoints</key>
		<integer>0</integer>
		<key>currentRank</key>
		<integer>4</integer>
		<key>totalUsers</key>
		<string>73</string>
		<key>expiryEpoch</key>
		<integer>1479244358</integer>
		<key>promotionDescription</key>
		<string>Torino</string>
		<key>pointsEarned</key>
		<integer>0</integer>
		<key>promotionNotes</key>
		<string>Available all year</string>
		<key>totalPromotionsAvailable</key>
		<integer>999</integer>
		<key>businessName</key>
		<string>BodyShop</string>
		<key>twitter</key>
		<string>bodyshop twitter</string>
		<key>facebook</key>
		<string>facebook bodbyshop</string>
		<key>website</key>
		<string>website boddshop</string>
		<key>negativeLimitReached</key>
		<false/>
		<key>totalPointsEarnedPerRound</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>businessLogo</key>
		<string>C-logo</string>
		<key>gameSummaryLogo</key>
		<string>cheivo-bg</string>
		<key>promotionId</key>
		<integer>49582</integer>
		<key>totalPoints</key>
		<integer>0</integer>
		<key>currentRank</key>
		<integer>100</integer>
		<key>totalUsers</key>
		<integer>3</integer>
		<key>expiryEpoch</key>
		<integer>1479287558</integer>
		<key>promotionDescription</key>
		<string>Cheivo</string>
		<key>pointsEarned</key>
		<integer>0</integer>
		<key>promotionNotes</key>
		<string>Cheivo</string>
		<key>totalPromotionsAvailable</key>
		<integer>99</integer>
		<key>businessName</key>
		<string>Cheivo</string>
		<key>twitter</key>
		<string>Cheivo twitter</string>
		<key>facebook</key>
		<string>Cheivo Facebook</string>
		<key>website</key>
		<string>Cheivo website</string>
		<key>negativeLimitReached</key>
		<false/>
		<key>totalPointsEarnedPerRound</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
