<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>businessLogo</key>
		<string>22</string>
		<key>gameSummaryLogo</key>
		<string>31</string>
		<key>promotionId</key>
		<real>123456</real>
		<key>totalPoints</key>
		<integer>900</integer>
		<key>currentRank</key>
		<integer>2</integer>
		<key>totalUsers</key>
		<integer>10</integer>
		<key>expiryEpoch</key>
		<real>1477640792</real>
		<key>promotionDescription</key>
		<string>Two for One offer on coffees and get a free cookie</string>
		<key>pointsEarned</key>
		<integer>0</integer>
		<key>promotionNotes</key>
		<string>This is one time offer, you use it once thats it</string>
		<key>totalPromotionsAvailable</key>
		<integer>200</integer>
		<key>businessName</key>
		<string>StarBucks</string>
		<key>twitter</key>
		<string>https://twitter.com/Starbucks?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor</string>
		<key>facebook</key>
		<string>https://en-gb.facebook.com/Starbucks/</string>
		<key>website</key>
		<string>http://www.starbucks.co.uk</string>
	</dict>
	<dict>
		<key>businessLogo</key>
		<string>dominos-lg</string>
		<key>gameSummaryLogo</key>
		<string>36</string>
		<key>promotionId</key>
		<real>654321</real>
		<key>totalPoints</key>
		<integer>84</integer>
		<key>currentRank</key>
		<integer>1</integer>
		<key>totalUsers</key>
		<integer>42</integer>
		<key>expiryEpoch</key>
		<real>1477476878</real>
		<key>promotionDescription</key>
		<string>Buy one Dominoes lotion and get one free</string>
		<key>pointsEarned</key>
		<integer>0</integer>
		<key>promotionNotes</key>
		<string>This offer can be used multiplen times baby</string>
		<key>totalPromotionsAvailable</key>
		<integer>500</integer>
		<key>businessName</key>
		<string>Dominoes</string>
		<key>twitter</key>
		<string>https://twitter.com/kfc_uki?lang=en</string>
		<key>facebook</key>
		<string>https://www.facebook.com/Dominoes/</string>
		<key>website</key>
		<string>https://www.domeinoes.co.uk</string>
	</dict>
	<dict>
		<key>businessLogo</key>
		<string>amazon-lg</string>
		<key>gameSummaryLogo</key>
		<string>37</string>
		<key>promotionId</key>
		<integer>985789</integer>
		<key>totalPoints</key>
		<integer>164</integer>
		<key>currentRank</key>
		<integer>5</integer>
		<key>totalUsers</key>
		<integer>93</integer>
		<key>expiryEpoch</key>
		<real>1477476878</real>
		<key>promotionDescription</key>
		<string>Everything Free in Amazon</string>
		<key>pointsEarned</key>
		<integer>0</integer>
		<key>promotionNotes</key>
		<string>This is not real sorry</string>
		<key>totalPromotionsAvailable</key>
		<integer>70</integer>
		<key>businessName</key>
		<string>Amazon</string>
		<key>twitter</key>
		<string>twitter amazon</string>
		<key>facebook</key>
		<string>facebook Amazon</string>
		<key>website</key>
		<string>amazon world</string>
	</dict>
	<dict>
		<key>businessLogo</key>
		<string>bs-lg</string>
		<key>gameSummaryLogo</key>
		<string>bs-bg</string>
		<key>promotionId</key>
		<integer>398534</integer>
		<key>totalPoints</key>
		<integer>250</integer>
		<key>currentRank</key>
		<integer>4</integer>
		<key>totalUsers</key>
		<string>73</string>
		<key>expiryEpoch</key>
		<real>1477640792</real>
		<key>promotionDescription</key>
		<string>Free Facemask!</string>
		<key>pointsEarned</key>
		<integer>0</integer>
		<key>promotionNotes</key>
		<string>Available all year</string>
		<key>totalPromotionsAvailable</key>
		<integer>999</integer>
		<key>businessName</key>
		<string>BodyShop</string>
		<key>twitter</key>
		<string>bodyshop twitter</string>
		<key>facebook</key>
		<string>facebook bodbyshop</string>
		<key>website</key>
		<string>website boddshop</string>
	</dict>
	<dict>
		<key>businessLogo</key>
		<string>hm-lg</string>
		<key>gameSummaryLogo</key>
		<string>hm-bg</string>
		<key>promotionId</key>
		<integer>49582</integer>
		<key>totalPoints</key>
		<integer>845</integer>
		<key>currentRank</key>
		<integer>100</integer>
		<key>totalUsers</key>
		<integer>3</integer>
		<key>expiryEpoch</key>
		<real>1477640792</real>
		<key>promotionDescription</key>
		<string>Buy one T shirt and get another T shirt free</string>
		<key>pointsEarned</key>
		<integer>0</integer>
		<key>promotionNotes</key>
		<string>Only red T shirts apply</string>
		<key>totalPromotionsAvailable</key>
		<integer>99</integer>
		<key>businessName</key>
		<string>H&amp;M</string>
		<key>twitter</key>
		<string>H&amp;M twitter</string>
		<key>facebook</key>
		<string>H &amp; M Facebook</string>
		<key>website</key>
		<string>H &amp; M website</string>
	</dict>
</array>
</plist>
